body {
    .main {
        position: absolute;
          top: 40%;
          left: 51.5%;
          transform: translate(-50%, -50%);
      }
      .main-heading {
        color: rgb(71, 69, 69);
        text-transform: uppercase;
      }
      
      .main-heading-primary {
        display: block;
        font-size: 5.0rem;
        font-weight: 400;
        letter-spacing: 35px;
        animation: moveInLeft 1s ease-out;
        font-family: 'Times New Roman', Times, serif
      }
      
      .main-heading-secondary {
        font-family: sans-serif;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 31px;
        color: rgb(3, 3, 2);
        animation: moveInRight 1s ease-out;  
}